<ion-view title="widgitz">
    <ion-header-bar class="bar bar-subheader bar-light">
        <h1 class="title">Basic Math</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-input item-floating-label">
                <span class="input-label">First Number</span>
                <input type="tel" placeholder="First Number" ng-model="basicmath.number1">
            </ion-item> 
            <ion-item class="item-input item-floating-label">
                <span class="input-label">Second Number</span>
                <input type="tel" placeholder="Second Number" ng-model="basicmath.number2">
            </ion-item>
            <ion-item class="item">
                Answer: {{basicmath.answer}}
            </ion-item>
        </ion-list>
        <div class="button-bar padding">
            <button class="button button-positive button-dark" ng-click="basicmath.add(basicmath.number1, basicmath.number2)"><i>+</i></button>
            <button class="button button-positive button-dark" ng-click="basicmath.multiply(basicmath.number1, basicmath.number2)"><i>&times</i></button>
            <button class="button button-positive button-dark" ng-click="basicmath.substract(basicmath.number1, basicmath.number2)"><i>-</i></button>
            <button class="button button-positive button-dark" ng-click="basicmath.divide(basicmath.number1, basicmath.number2)">&divide</button>
        </div>
    </ion-content>
</ion-view>